* {
  font-family: 'MuseoModerno', sans-serif;
}

.contener {
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  height: 650px;
  padding: 21px 0 91px 0;
  background: url(../img/header/bg_girl.jpg) center center/cover no-repeat;
}

.promo__wrapper {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promo__header {
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.promo__subheader {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 425px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}

.promo__icon {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.promo img {
  display: block;
  margin: 0 auto;
  height: 45px;
  margin-bottom: 20px;
}

.promo__link {
  margin-top: 10px;
  color: #FFFFFF;
}

.promo a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__official {
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #FFFFFF;
}

.header span {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

.header .header__phone {
  margin-bottom: 5px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  color: #FFFFFF;
  text-decoration: none;
}

.header .header__phone:hover {
  text-decoration: none;
  color: #FFFFFF;
}

.header .header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.button {
  width: 153px;
  height: 32px;
  background: #C70101;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button_main {
  width: 300px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button__consultation {
  width: 303px;
  height: 58px;
  font-size: 16px;
  line-height: 25px;
}

.button__buy {
  margin-right: 18px;
  width: 135px;
  height: 44px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantage {
  min-height: 473px;
  padding: 73px 0 65px 0;
  background-color: #F6F6F6;
}

.advantage__header {
  text-align: center;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  color: #0D0D0D;
}

.advantage__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantage__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #0D0D0D;
}

.advantage img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}

.advantage .img_desc {
  margin-top: 15px;
  width: 269px;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.advantage span {
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF0000;
}

.advantage__icon_heart {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.consultation {
  min-height: 680px;
  background: url(../img/consultation/bg2.jpg) center center/cover no-repeat;
  padding: 100px 0 108px 0;
}

.consultation__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.consultation__subheader {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.feed-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feed-form input {
  margin-top: 10px;
  width: 300px;
  height: 50px;
  background: #FFFFFF;
  margin-bottom: 15px;
  border: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 66px;
  padding: 0 10px;
  color: #4B4B4B;
}

.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.carousel {
  padding: 100px 0 100px 0;
}

.carousel .tns-item img {
  display: block;
  margin: 0 auto;
}

.carousel .click__left, .carousel .click__right {
  position: absolute;
  top: 33%;
  left: -50px;
  border: none;
  background-color: #fff;
}

.carousel .click__right {
  left: auto;
  right: -40px;
}

.catalog {
  padding-bottom: 80px;
}

.catalog__header {
  font-weight: normal;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
  margin-bottom: 70px;
}

.catalog__subheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  margin-bottom: 25px;
}

.catalog__descr {
  margin: 0 5px 0 5px;
  width: 222px;
  height: 52px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #D0D0D0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: #6B6B6B;
  cursor: pointer;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.catalog__descr:hover {
  -webkit-box-shadow: 5px 5px 20px #C70101;
          box-shadow: 5px 5px 20px #C70101;
  border: none;
}

.catalog__descr div {
  -webkit-transform: skewX(25deg);
          transform: skewX(25deg);
}

.catalog__descr_active {
  background: #C70101;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.catalog__content {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__content_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-item {
  position: relative;
  margin-top: 20px;
  width: 303px;
  min-height: 442px;
  border: 2px solid #E8E8E8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0 25px 0;
  overflow: hidden;
}

.catalog-item_back {
  position: absolute;
  bottom: 0;
  left: 44%;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}

.catalog-item img {
  display: block;
  margin: 0 auto 15px;
  max-width: 99%;
  height: 200px;
}

.catalog-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200% + 40px);
}

.catalog-item__content {
  width: 50%;
  margin-right: 0px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.catalog-item__content_active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  margin-right: 20px;
}

.catalog-item__list {
  position: relative;
  width: 50%;
  margin-left: 0px;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.catalog-item__list_active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  margin-left: -50px;
  width: 38%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding-left: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.catalog-item__list_active li {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #555555;
}

.catalog-item__list_active li::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: #C70101;
  left: -13px;
}

.catalog-item__list_active li a {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}

.catalog-item__subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #0D0D0D;
}

.catalog-item__desc {
  margin-top: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #0D0D0D;
}

.catalog a {
  margin-top: 10px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #C70101;
}

.catalog hr {
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 21px;
  text-decoration: underline;
  width: 263px;
  height: 1px;
}

.catalog-item__fotter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-item__old_price {
  margin-left: 23px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #555555;
}

.catalog-item_price {
  margin-left: 23px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: #050505;
}

.reviews {
  padding-bottom: 60px;
}

.reviews__client {
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #0D0D0D;
}

.reviews__blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.reviews__blok img {
  width: 169px;
  height: 169px;
}

.reviews__img_name {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  display: block;
  color: #0D0D0D;
}

.reviews__img_name span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #646464;
  margin-bottom: 10px;
}

.reviews__img_descr {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #0D0D0D;
  width: 680px;
}

.footer {
  position: relative;
}

.footer__tab {
  position: absolute;
  width: 460px;
  height: 270px;
  background: #C70101;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer_addr {
  margin-top: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.footer__tell {
  display: block;
  margin-top: 35px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__tell a {
  color: #FFFFFF;
}

.footer_social {
  margin: 35px 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.google_map {
  width: -webkit-fill-available;
  height: 630px;
  border: 0;
}

.overley {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
}

.modal {
  display: block;
  top: 36%;
  left: 41%;
  width: 382px;
  height: 440px;
  background: #F2F2F2;
  padding: 35px 40px 40px 40px;
  overflow-x: unset;
  overflow-y: unset;
}

.modal__close {
  position: absolute;
  top: -23px;
  right: -42px;
  font-size: 52px;
  color: #C70101;
  cursor: pointer;
}

.modal__subtitle {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  text-align: center;
  color: #0D0D0D;
}

.modal__descr {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  color: #0D0D0D;
}

.modal_mini {
  height: 140px;
}

#consultation, #order, #mini {
  display: none;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (max-width: 1050px) {
  .promo__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .consultation__header {
    font-size: 28px;
    text-align: center;
  }
  .consultation__subheader {
    text-align: center;
  }
  .feed-form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tns-item img {
    display: block;
    margin: 0 auto;
    width: 500px;
  }
  .carousel .click__left {
    left: 34px;
  }
  .carousel .click__right {
    right: 26px;
  }
  .reviews__img_descr {
    width: 500px;
  }
  .catalog__content_active {
    margin: 0 40px;
  }
}

@media (max-width: 767px) {
  .promo img {
    height: 37px;
    margin-bottom: 19px;
  }
  .promo__header {
    font-size: 30px;
  }
  .promo__subheader {
    font-size: 16px;
  }
  .header span {
    font-size: 12px;
  }
  .header .header__phone {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 12px;
    margin-right: 7px;
  }
  .advantage {
    min-height: 473px;
    padding: 34px 0 16px 0;
  }
  .advantage__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .advantage .img_desc {
    display: block;
    margin: 22px auto;
  }
  .consultation {
    padding: 50px 0 50px 0;
  }
  .consultation__header {
    font-size: 18px;
  }
  .consultation__subheader {
    font-size: 14px;
    line-height: 23px;
  }
  .feed-form input {
    width: 259px;
    height: 39px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 61px;
  }
  .button__consultation {
    width: 264px;
    height: 51px;
    margin-top: 42px;
  }
  .carousel .click__left {
    left: 34px;
  }
  .carousel .click__right {
    right: 26px;
  }
  .tns-item img {
    width: 350px;
  }
  .catalog__content_active {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews__blok {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .promo img {
    height: 20px;
    margin-bottom: 15px;
  }
  .header .header__official {
    font-size: 10px;
    line-height: 9px;
  }
  .header span {
    font-size: 10px;
    line-height: 10px;
    margin-top: 3px;
  }
  .header .header__phone {
    margin-bottom: 4px;
    font-size: 11px;
    line-height: 10px;
    margin-right: 7px;
  }
  .button_tell {
    margin-right: 3px;
    width: 110px;
    height: 26px;
    border-radius: 5px;
    font-size: 9px;
  }
  .promo__header {
    font-size: 22px;
  }
  .promo__subheader {
    font-size: 11px;
  }
  .promo__icons {
    width: 317px;
  }
  .promo__icon {
    font-size: 11px;
    line-height: 13px;
  }
  .button_main {
    width: 200px;
    height: 38px;
    font-size: 12px;
    line-height: 24px;
  }
  .promo a {
    font-size: 13px;
  }
  .advantage__header {
    font-size: 22px;
  }
  .consultation__header {
    font-size: 14px;
    line-height: 33px;
  }
  .button__consultation {
    width: 200px;
    height: 35px;
    margin-top: 42px;
    font-size: 12px;
  }
  .footer__tab {
    position: absolute;
    width: 360px;
    height: 223px;
  }
  .footer_social {
    margin: 35px 90px;
  }
  .reviews__img_name {
    margin-top: 20px;
  }
  .reviews__img_descr {
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */