.advantage{
    min-height: 473px;
    padding: 73px 0 65px 0;
    background-color: #F6F6F6;;
    
    &__header{
        text-align: center;
        margin-bottom: 60px;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        color: #0D0D0D;
    }
    &__icons{
        display: flex;
        justify-content: space-between;
        
    }
    &__icon{
        display: flex;
        flex-direction: column;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        text-align: center;
        color: #0D0D0D;
    }
        img{
            display: block;
            margin: 0 auto;
            margin-bottom: 35px;
        }    
        .img_desc{
            margin-top: 15px;
            width: 269px;
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
        }
        span{
            font-weight: 300;
            font-size: 14px;
            line-height: 18px;
            text-decoration-line: underline;
            color: #FF0000;
        }

    
        

}
.advantage__icon_heart{
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}