.catalog{
    padding-bottom: 80px;
    &__header{
        font-weight: normal;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        color: #0D0D0D;
        margin-bottom: 70px;
    }
    &__subheader{
        display: flex;
        justify-content: center;
        transform: skewX(-25deg);
        margin-bottom: 25px;
        
    }
    &__descr{
        margin:  0 5px 0 5px;
        width: 222px;
        height: 52px;
        background: rgba(0, 0, 0, 0.0001);
        border: 2px solid #D0D0D0;
        box-sizing: border-box;
        font-weight: normal;
        font-size: 18px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        color: #6B6B6B;
        cursor: pointer;
        transition: .5s all;
        &:hover{
            box-shadow: 5px 5px 20px $main-color;
            border: none;
        }
        div{
            transform: skewX(25deg)

        }
        &_active{
            background: $main-color;
            font-weight: normal;
            font-size: 18px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            border: none;
        }
    }
    &__content{
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active{
            display: flex;
        }
    }
    
    &-item{
        position: relative;
        margin-top: 20px;
        width: 303px;
        min-height: 442px;
        border: 2px solid #E8E8E8;
        box-sizing: border-box;
        padding: 20px 0 25px 0;
        overflow: hidden;

        &_back{
            position: absolute;
            bottom: 0;
            left: 44%;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            text-decoration-line: underline;
            color: #C70101;
        }

        img{
            display: block;
            margin: 0 auto 15px;
            max-width: 99%;
            height: 200px;
        }
        &__wrapper{
            display: flex;
            width: calc(200% + 40px);
        }
        &__content{
            width: 50%;
            margin-right: 0px;
            transform:translateX(-100%) ;
            transition: 0.5s all;
            &_active{
                transform:translateX(0%) ;
                margin-right: 20px;
            }
        }
        &__list{
            position: relative;
            width: 50%;
            margin-left: 0px;
            transform:translateX(0%) ;
            transition: 0.5s all;
            padding-left: 0;
            margin-bottom: 0;
            list-style-type: none;
            
            &_active{
                transform:translateX(-100%) ;
                margin-left: -50px;
                width: 38%;
                transition: 0.5s all;
                padding-left: 0;
                margin-bottom: 0;
                list-style-type: none;

                li{
                    margin-bottom: 20px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 21px;
                    color: #555555;
                    &::before{
                        content: '';
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: $main-color;
                        left: -13px;   
                  
                    }
                    a{
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 14px;
                        text-align: center;
                        text-decoration-line: underline;
                        color: #C70101;
                    }
                }



            }
        }
    }
    &-item__subtitle{
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
        color: #0D0D0D;

    }
    &-item__desc{
        margin-top: 15px;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #0D0D0D;
    }
    a{
        margin-top: 10px;
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        text-decoration-line: underline;
        color: $main-color;
    }
    hr{
        margin: 0 auto;
        margin-top: 19px;
        margin-bottom: 21px;
        text-decoration: underline;
        width: 263px;
        height: 1px;
    
    }
    &-item__fotter{
        display: flex;
        justify-content: space-between;
    }
    &-item__old_price{
        margin-left: 23px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #555555;
    }
    &-item_price{
        margin-left: 23px;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #050505;
    }

}