* {
  font-family: 'MuseoModerno', sans-serif;
}
@import 'mixins';
@import 'variables';

.contener{
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
@import 'promo';
@import 'header';
@import 'buttons';
@import 'advantage';
@import 'consultation';
@import 'form';

@import 'carousel';
@import 'catalog' ;
@import 'reviews';
@import 'fotter';
@import 'forms';
@import 'animations';
@import 'media';