.portfolio{
    padding-top: 120px;

    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(4, 280px);
        grid-auto-rows: 280px ;
        gap: 5px;
    }
}